.header__link {
  text-decoration: none;
  color: #2f80ed;
  }

.header__link:hover {
  opacity: .5;
  transition : all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
 }
