.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__logo:hover {
  opacity: .5;
  transition : all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
